
<div class="about-main">
  <h2>Sauna-Goってなに？</h2>
  <p>
    一声でサウナerたちを集めることができます。
    店舗や時間を選んでサウナerを集めよう！
    （現在のversionでは寝屋川を中心に店舗を選択できます。
    アップデートをお待ちください...
    フレンド機能も追加する（したい）予定です。
  </p>
</div>